<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <module name="stsim-stockflow" displayName="ST-Sim Stocks and Flows Add-On" version="3.1.29" configVersion="1.0000" contentType="any">
    <transformers>
      <transformer name="stsim-stockflow" displayName="ST-Sim Stocks and Flows" isAddOn="True" extendsModel="stsim" previousNames="stock-flow-add-on-transformer|stsim-stock-flow:add-on-transformer">
        <runtime>
          <transformer name="stsim-stockflow:runtime"/>
        </runtime>
        <include>
          <transformer name="stsim-stockflow:summary-stock-report"/>
          <transformer name="stsim-stockflow:summary-flow-report"/>
          <transformer name="stsim-stockflow:stock-raster-map"/>
          <transformer name="stsim-stockflow:flow-raster-map"/>
          <transformer name="stsim-stockflow:stock-group-raster-map"/>
          <transformer name="stsim-stockflow:flow-group-raster-map"/>
        </include>
      </transformer>
      <transformer name="stsim-stockflow:runtime" displayName="Stocks and Flows" className="SyncroSim.STSimStockFlow.StockFlowTransformer" classAssembly="SyncroSim.STSimStockFlow" extendsTransformer="stsim:runtime">
        <datafeeds>
          <datafeed name="stsim-stockflow:stock-group-datafeed" displayName="Stock Groups" dataScope="Project">
            <datasheets>
              <datasheet name="SF_StockGroup" displayName="Stock Groups" valueMember="StockGroupID" displayMember="Name">
                <columns>
                  <column name="StockGroupID" dataType="Integer" isPrimary="True"/>
                  <column name="ProjectID" dataType="Integer"/>
                  <column name="Name" dataType="String"/>
                  <column name="Description" dataType="String" isOptional="True"/>
                  <column name="Units" dataType="String" isOptional="True"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="stsim-stockflow:stock-type-datafeed" displayName="Stock Types" dataScope="Project">
            <datasheets>
              <datasheet name="SF_StockType" displayName="Stock Types" valueMember="StockTypeID" displayMember="Name">
                <columns>
                  <column name="StockTypeID" dataType="Integer" isPrimary="True"/>
                  <column name="ProjectID" dataType="Integer"/>
                  <column name="Name" dataType="String"/>
                  <column name="Description" dataType="String" isOptional="True"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="stsim-stockflow:flow-group-datafeed" displayName="Flow Groups" dataScope="Project">
            <datasheets>
              <datasheet name="SF_FlowGroup" displayName="Flow Groups" valueMember="FlowGroupID" displayMember="Name">
                <columns>
                  <column name="FlowGroupID" dataType="Integer" isPrimary="True"/>
                  <column name="ProjectID" dataType="Integer"/>
                  <column name="Name" dataType="String"/>
                  <column name="Description" dataType="String" isOptional="True"/>
                  <column name="Units" dataType="String" isOptional="True"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="stsim-stockflow:flow-type-datafeed" displayName="Flow Types" dataScope="Project">
            <datasheets>
              <datasheet name="SF_FlowType" displayName="Flow Types" valueMember="FlowTypeID" displayMember="Name">
                <columns>
                  <column name="FlowTypeID" dataType="Integer" isPrimary="True"/>
                  <column name="ProjectID" dataType="Integer"/>
                  <column name="Name" dataType="String"/>
                  <column name="Description" dataType="String" isOptional="True"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="stsim-stockflow:terminology-datafeed" displayName="Terminology" dataScope="Project">
            <datasheets>
              <datasheet name="SF_Terminology" displayName="Terminology" isSingleRow="True">
                <columns>
                  <column name="TerminologyID" dataType="Integer" isPrimary="True"/>
                  <column name="ProjectID" dataType="Integer"/>
                  <column name="StockUnits" dataType="String"/>
                </columns>
                <defaultRecords>
                  <record columns="StockUnits" values="tons"/>
                </defaultRecords>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="stsim-stockflow:stock-limit-datafeed" displayName="Stock Limits" dataScope="Scenario">
            <datasheets>
              <datasheet name="SF_StockLimit" displayName="Stock Limits">
                <columns>
                  <column name="StockLimitID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="Iteration" dataType="Integer" validationType="WholeNumber" validationCondition="Greater" formula1="0" isOptional="True" format="d"/>
                  <column name="Timestep" dataType="Integer" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" isOptional="True" displayNameSource="STSim_Terminology" displayNameColumn="TimestepUnits" format="d"/>
                  <column name="StockTypeID" dataType="Integer" displayName="Stock" validationType="Datasheet" formula1="SF_StockType" allowDbNull="False"/>
                  <column name="StratumID" dataType="Integer" displayName="Primary Stratum" validationType="Datasheet" formula1="STSim_Stratum" isOptional="True" displayNameSource="STSim_Terminology" displayNameColumn="PrimaryStratumLabel"/>
                  <column name="SecondaryStratumID" dataType="Integer" displayName="Secondary Stratum" validationType="Datasheet" formula1="STSim_SecondaryStratum" isOptional="True" displayNameSource="STSim_Terminology" displayNameColumn="SecondaryStratumLabel"/>
                  <column name="TertiaryStratumID" dataType="Integer" displayName="Tertiary Stratum" validationType="Datasheet" formula1="STSim_TertiaryStratum" isOptional="True" displayNameSource="STSim_Terminology" displayNameColumn="TertiaryStratumLabel"/>
                  <column name="StateClassID" dataType="Integer" displayName="State Class" validationType="Datasheet" formula1="STSim_StateClass" isOptional="True"/>
                  <column name="StockMinimum" dataType="Double" displayName="Stock Min" validationType="Decimal"/>
                  <column name="StockMaximum" dataType="Double" displayName="Stock Max" validationType="Decimal"/>
                </columns>
                <validations>
                  <validation validationType="LessEqual" columns="StockMinimum|StockMaximum"/>
                </validations>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="stsim-stockflow:flow-order-datafeed" displayName="Flow Order" dataScope="Scenario">
            <datasheets>
              <datasheet name="SF_FlowOrder" displayName="Flow Order">
                <columns>
                  <column name="FlowOrderID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="Iteration" dataType="Integer" validationType="WholeNumber" validationCondition="Greater" formula1="0" isOptional="True" format="d"/>
                  <column name="Timestep" dataType="Integer" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" isOptional="True" displayNameSource="STSim_Terminology" displayNameColumn="TimestepUnits" format="d"/>
                  <column name="FlowTypeID" dataType="Integer" displayName="Flow" validationType="Datasheet" formula1="SF_FlowType" allowDbNull="False"/>
                  <column name="Order" dataType="Double" displayName="Order" validationType="Decimal"/>
                </columns>
                <validations>
                </validations>
              </datasheet>
              <datasheet name="SF_FlowOrderOptions" displayName="Apply Flow Order" isSingleRow="True">
                <columns>
                  <column name="FlowOrderOptionsID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="ApplyBeforeTransitions" dataType="Boolean" displayName="Apply Before Transitions"/>
                  <column name="ApplyEquallyRankedSimultaneously" dataType="Boolean" displayName="Apply equally ranked flows simultaneously"/>
                </columns>
                <validations>
                </validations>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="stsim-stockflow:flow-pathway-datafeed" displayName="Flow Pathways" dataScope="Scenario">
            <datasheets>
              <datasheet name="SF_FlowPathwayDiagram" displayName="Flow Pathway Diagram" className="SyncroSim.STSimStockFlow.FlowPathwayDiagramDataSheet" classAssembly="SyncroSim.STSimStockFlow" noRowLimit="True">
                <columns>
                  <column name="FlowPathwayDiagramID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="StockTypeID" dataType="Integer" displayName="Stock" validationType="Datasheet" formula1="SF_StockType" allowDbNull="False"/>
                  <column name="Location" dataType="String" columnAlignment="Center" allowDbNull="False"/>
                </columns>
                <validations>
                  <validation validationType="Unique" columns="StockTypeID"/>
                  <validation validationType="Unique" columns="Location"/>
                </validations>
              </datasheet>
              <datasheet name="SF_FlowPathway" displayName="Flow Pathways" className="SyncroSim.STSimStockFlow.FlowPathwayDataSheet" classAssembly="SyncroSim.STSimStockFlow" noRowLimit="True">
                <columns>
                  <column name="FlowPathwayID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer" isCompositeIndex="True"/>
                  <column name="Iteration" dataType="Integer" validationType="WholeNumber" validationCondition="Greater" formula1="0" isOptional="True" format="d"/>
                  <column name="Timestep" dataType="Integer" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" isOptional="True" displayNameSource="STSim_Terminology" displayNameColumn="TimestepUnits" format="d"/>
                  <column name="FromStratumID" dataType="Integer" displayName="From Stratum" validationType="Datasheet" formula1="STSim_Stratum" isOptional="True" displayNameSource="STSim_Terminology" displayNameColumn="PrimaryStratumLabel"/>
                  <column name="FromStateClassID" dataType="Integer" displayName="From State Class" validationType="Datasheet" formula1="STSim_StateClass" isOptional="True"/>
                  <column name="FromAgeMin" dataType="Integer" displayName="From Min Age" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" isOptional="True"/>
                  <column name="FromStockTypeID" dataType="Integer" displayName="From Stock" validationType="Datasheet" formula1="SF_StockType" allowDbNull="False"/>
                  <column name="ToStratumID" dataType="Integer" displayName="To Stratum" validationType="Datasheet" formula1="STSim_Stratum" isOptional="True" displayNameSource="STSim_Terminology" displayNameColumn="PrimaryStratumLabel"/>
                  <column name="ToStateClassID" dataType="Integer" displayName="To State Class" validationType="Datasheet" formula1="STSim_StateClass" isOptional="True"/>
                  <column name="ToAgeMin" dataType="Integer" displayName="To Min Age" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" isOptional="True"/>
                  <column name="ToStockTypeID" dataType="Integer" displayName="To Stock" validationType="Datasheet" formula1="SF_StockType" allowDbNull="False"/>
                  <column name="TransitionGroupID" dataType="Integer" displayName="Transition Group" validationType="Datasheet" formula1="STSim_TransitionGroup" isOptional="True"/>
                  <column name="StateAttributeTypeID" dataType="Integer" displayName="State Attribute Type" validationType="Datasheet" formula1="STSim_StateAttributeType" isOptional="True"/>
                  <column name="FlowTypeID" dataType="Integer" displayName="Flow Type" validationType="Datasheet" formula1="SF_FlowType" allowDbNull="False"/>
                  <column name="Multiplier" displayName="Multiplier" dataType="Double" validationType="Decimal" validationCondition="GreaterEqual" formula1="0.0" allowDbNull="False"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="stsim-stockflow:initial-stocks-datafeed" displayName="Initial Stocks" dataScope="Scenario">
            <datasheets>
              <datasheet name="SF_InitialStockNonSpatial" displayName="Initial Stock - Non Spatial">
                <columns>
                  <column name="InitialStockNonSpatialID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="StockTypeID" dataType="Integer" displayName="Stock" validationType="Datasheet" formula1="SF_StockType" allowDbNull="False"/>
                  <column name="StateAttributeTypeID" displayName="State Attribute Type" dataType="Integer" validationType="Datasheet" formula1="STSim_StateAttributeType" allowDbNull="False"/>
                </columns>
                <validations>
                  <validation validationType="Unique" columns="StockTypeID"/>
                </validations>
              </datasheet>
              <datasheet name="SF_InitialStockSpatial" displayName="Initial Stock - Spatial" allowSpecialColumns ="False">
                <columns>
                  <column name="InitialStockSpatialID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="Iteration" dataType="Integer" validationType="WholeNumber" validationCondition="Greater" formula1="0" isOptional="True" format="d"/>
                  <column name="StockTypeID" dataType="Integer" displayName="Stock" validationType="Datasheet" formula1="SF_StockType" allowDbNull="False"/>
                  <column name="RasterFileName" displayName="Raster File Name" dataType="String" allowDbNull="False" isExternalFile="True" isRaster="True"/>
                </columns>
                <validations>
                  <validation validationType="Unique" columns="Iteration|StockTypeID"/>
                </validations>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="stsim-stockflow:stock-group-membership-datafeed" displayName="Stock Group Membership" dataScope="Scenario">
            <datasheets>
              <datasheet name="SF_StockTypeGroupMembership" displayName="Stock Type-Group Membership">
                <columns>
                  <column name="StockTypeGroupMembershipID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="StockTypeID" dataType="Integer" displayName="Stock Type" validationType="Datasheet" formula1="SF_StockType" allowDbNull="False" isCompositeIndex="True"/>
                  <column name="StockGroupID" dataType="Integer" displayName="Stock Group" validationType="Datasheet" formula1="SF_StockGroup" allowDbNull="False" isCompositeIndex="True"/>
                  <column name="Value" dataType="Double" isOptional="True" format="N8"/>
                </columns>
                <validations>
                  <validation validationType="Unique" columns="StockTypeID|StockGroupID"/>
                </validations>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="stsim-stockflow:flow-group-membership-datafeed" displayName="Flow Group Membership" dataScope="Scenario">
            <datasheets>
              <datasheet name="SF_FlowTypeGroupMembership" displayName="Flow Type-Group Membership">
                <columns>
                  <column name="FlowTypeGroupMembershipID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="FlowTypeID" dataType="Integer" displayName="Flow Type" validationType="Datasheet" formula1="SF_FlowType" allowDbNull="False" isCompositeIndex="True"/>
                  <column name="FlowGroupID" dataType="Integer" displayName="Flow Group" validationType="Datasheet" formula1="SF_FlowGroup" allowDbNull="False" isCompositeIndex="True"/>
                  <column name="Value" dataType="Double" isOptional="True" format="N8"/>
                </columns>
                <validations>
                  <validation validationType="Unique" columns="FlowTypeID|FlowGroupID"/>
                </validations>
              </datasheet>
            </datasheets>
          </datafeed>         
          <datafeed name="stsim-stockflow:stock-transition-multiplier-datafeed" displayName="Stock Transition Multipliers" dataScope="Scenario">
            <datasheets>
              <datasheet name="SF_StockTransitionMultiplier" displayName="Stock Transition Multipliers">
                <columns>
                  <column name="StockTransitionMultiplierID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer" isCompositeIndex="True"/>
                  <column name="Iteration" dataType="Integer" validationType="WholeNumber" validationCondition="Greater" formula1="0" isOptional="True" format="d"/>
                  <column name="Timestep" dataType="Integer" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" isOptional="True" displayNameSource="STSim_Terminology" displayNameColumn="TimestepUnits" format="d"/>
                  <column name="StratumID" dataType="Integer" displayName="Stratum" validationType="Datasheet" formula1="STSim_Stratum" isOptional="True" displayNameSource="STSim_Terminology" displayNameColumn="PrimaryStratumLabel"/>
                  <column name="SecondaryStratumID" dataType="Integer" displayName="Secondary Stratum" validationType="Datasheet" formula1="STSim_SecondaryStratum" isOptional="True" displayNameSource="STSim_Terminology" displayNameColumn="SecondaryStratumLabel"/>
                  <column name="TertiaryStratumID" dataType="Integer" displayName="Tertiary Stratum" validationType="Datasheet" formula1="STSim_TertiaryStratum" isOptional="True" displayNameSource="STSim_Terminology" displayNameColumn="TertiaryStratumLabel"/>
                  <column name="StateClassID" dataType="Integer" displayName="State Class" validationType="Datasheet" formula1="STSim_StateClass" isOptional="True"/>
                  <column name="TransitionGroupID" dataType="Integer" displayName="Transition Group" validationType="Datasheet" formula1="STSim_TransitionGroup" allowDbNull="False"/>
                  <column name="StockGroupID" dataType="Integer" displayName="Stock Group" validationType="Datasheet" formula1="SF_StockGroup" allowDbNull="False"/>
                  <column name="StockValue" dataType="Double" displayName="Stock Density" validationType="Decimal" validationCondition="GreaterEqual" formula1="0.0" allowDbNull="False"/>                 
                  <column name="Multiplier" dataType="Double" displayName="Multiplier" validationType="Decimal" validationCondition="GreaterEqual" formula1="0.0"/>
                  <column name="DistributionType" displayName="Multiplier Distribution" dataType="Integer" validationType="Datasheet" formula1="STime_DistributionType" isOptional="True"/>
                  <column name="DistributionFrequencyID" displayName="Multiplier Sampling Frequency" dataType="Integer" validationType="List" formula1="0:Always|1:Iteration Only|2:Iteration and Timestep" isOptional="True"/>
                  <column name="DistributionSD" displayName="Multiplier SD" dataType="Double" validationType="Decimal" validationCondition="GreaterEqual" formula1="0.0" isOptional="True"/>
                  <column name="DistributionMin" displayName="Multiplier Min" dataType="Double" validationType="Decimal" validationCondition="GreaterEqual" formula1="0.0" isOptional="True"/>
                  <column name="DistributionMax" displayName="Multiplier Max" dataType="Double" validationType="Decimal" validationCondition="GreaterEqual" formula1="0.0" isOptional="True"/>
                </columns>
                <validations>
                  <validation validationType="LessEqual" columns="DistributionMin|DistributionMax"/>
                </validations>
              </datasheet>
            </datasheets>
          </datafeed>    
          <datafeed name="stsim-stockflow:flow-multiplier-datafeed" displayName="Flow Multipliers" dataScope="Scenario">
            <datasheets>
              <datasheet name="SF_FlowMultiplier" displayName="Flow Multipliers">
                <columns>
                  <column name="FlowMultiplierID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer" isCompositeIndex="True"/>
                  <column name="Iteration" dataType="Integer" validationType="WholeNumber" validationCondition="Greater" formula1="0" isOptional="True" format="d"/>
                  <column name="Timestep" dataType="Integer" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" isOptional="True" displayNameSource="STSim_Terminology" displayNameColumn="TimestepUnits" format="d"/>
                  <column name="StratumID" dataType="Integer" displayName="Stratum" validationType="Datasheet" formula1="STSim_Stratum" isOptional="True" displayNameSource="STSim_Terminology" displayNameColumn="PrimaryStratumLabel"/>
                  <column name="SecondaryStratumID" dataType="Integer" displayName="Secondary Stratum" validationType="Datasheet" formula1="STSim_SecondaryStratum" isOptional="True" displayNameSource="STSim_Terminology" displayNameColumn="SecondaryStratumLabel"/>
                  <column name="TertiaryStratumID" dataType="Integer" displayName="Tertiary Stratum" validationType="Datasheet" formula1="STSim_TertiaryStratum" isOptional="True" displayNameSource="STSim_Terminology" displayNameColumn="TertiaryStratumLabel"/>
                  <column name="StateClassID" dataType="Integer" displayName="State Class" validationType="Datasheet" formula1="STSim_StateClass" isOptional="True"/>
                  <column name="FlowGroupID" dataType="Integer" displayName="Flow Group" validationType="Datasheet" formula1="SF_FlowGroup" allowDbNull="False"/>
                  <column name="Value" displayName="Multiplier" dataType="Double" validationType="Decimal" validationCondition="GreaterEqual" formula1="0.0"/>
                  <column name="DistributionType" displayName="Multiplier Distribution" dataType="Integer" validationType="Datasheet" formula1="STime_DistributionType" isOptional="True"/>
                  <column name="DistributionFrequencyID" displayName="Multiplier Sampling Frequency" dataType="Integer" validationType="List" formula1="0:Always|1:Iteration Only|2:Iteration and Timestep" isOptional="True"/>
                  <column name="DistributionSD" displayName="Multiplier SD" dataType="Double" validationType="Decimal" validationCondition="GreaterEqual" formula1="0.0" isOptional="True"/>
                  <column name="DistributionMin" displayName="Multiplier Min" dataType="Double" validationType="Decimal" validationCondition="GreaterEqual" formula1="0.0" isOptional="True"/>
                  <column name="DistributionMax" displayName="Multiplier Max" dataType="Double" validationType="Decimal" validationCondition="GreaterEqual" formula1="0.0" isOptional="True"/>
                </columns>
                <validations>
                  <validation validationType="LessEqual" columns="DistributionMin|DistributionMax"/>
                </validations>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="stsim-stockflow:flow-spatial-multiplier-datafeed" displayName="Flow Spatial Multipliers" dataScope="Scenario">
            <datasheets>
              <datasheet name="SF_FlowSpatialMultiplier" displayName="Flow Spatial Multipliers" allowSpecialColumns ="False">
                <columns>
                  <column name="FlowSpatialMultiplierID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="Iteration" dataType="Integer" validationType="WholeNumber" validationCondition="Greater" formula1="0" isOptional="True" format="d"/>
                  <column name="Timestep" dataType="Integer" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" isOptional="True" displayNameSource="STSim_Terminology" displayNameColumn="TimestepUnits" format="d"/>
                  <column name="FlowGroupID" dataType="Integer" displayName="Flow Group" validationType="Datasheet" formula1="SF_FlowGroup" allowDbNull="False"/>
                  <column name="MultiplierFileName" displayName="Multiplier File Name" dataType="String" isExternalFile="True" allowDbNull="False" isRaster="True"/>
                </columns>
                <validations>
                  <validation validationType="Unique" columns="Iteration|Timestep|FlowGroupID"/>
                </validations>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="stsim-stockflow:output-options-datafeed" displayName="Output Options" dataScope="Scenario">
            <datasheets>
              <datasheet name="SF_OutputOptions" displayName="SF Output Options" isSingleRow="True">
                <columns>
                  <column name="OutputOptionsID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="SummaryOutputST" dataType="Boolean"/>
                  <column name="SummaryOutputSTTimesteps" dataType="Integer" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" format="d"/>
                  <column name="SummaryOutputFL" dataType="Boolean"/>
                  <column name="SummaryOutputFLTimesteps" dataType="Integer" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" format="d"/>
                  <column name="SpatialOutputST" dataType="Boolean"/>
                  <column name="SpatialOutputSTTimesteps" dataType="Integer" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" format="d"/>
                  <column name="SpatialOutputFL" dataType="Boolean"/>
                  <column name="SpatialOutputFLTimesteps" dataType="Integer" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" format="d"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="stsim-stockflow:output-stock-data-feed" dataScope="Scenario" isOutput="True">
            <datasheets>
              <datasheet name="SF_OutputStock" displayName="Stock">
                <columns>
                  <column name="ScenarioID" dataType="Integer" isCompositeIndex="True"/>
                  <column name="Iteration" dataType="Integer" isCompositeIndex="True" format="d"/>
                  <column name="Timestep" dataType="Integer" isCompositeIndex="True" format="d"/>
                  <column name="StratumID" displayName="Stratum" dataType="Integer" validationType="Datasheet" formula1="STSim_Stratum" allowDbNull="False" displayNameSource="STSim_Terminology" displayNameColumn="PrimaryStratumLabel" isCompositeIndex="True"/>
                  <column name="SecondaryStratumID" displayName="Secondary Stratum" dataType="Integer" validationType="Datasheet" formula1="STSim_SecondaryStratum" allowDbNull="True" displayNameSource="STSim_Terminology" displayNameColumn="SecondaryStratumLabel" isCompositeIndex="True"/>
                  <column name="TertiaryStratumID" dataType="Integer" displayName="Tertiary Stratum" validationType="Datasheet" formula1="STSim_TertiaryStratum" isOptional="True" displayNameSource="STSim_Terminology" displayNameColumn="TertiaryStratumLabel" isCompositeIndex="True"/>
                  <column name="StateClassID" dataType="Integer" displayName="State Class" validationType="Datasheet" formula1="STSim_StateClass" allowDbNull="False" isCompositeIndex="True"/>
                  <column name="StockTypeID" dataType="Integer" displayName="Stock Type" validationType="Datasheet" formula1="SF_StockType" isCompositeIndex="True"/>
                  <column name="Amount" dataType="Double"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="stsim-stockflow:output-flow-data-feed" dataScope="Scenario" isOutput="True">
            <datasheets>
              <datasheet name="SF_OutputFlow" displayName="Flow" className="SyncroSim.STSimStockFlow.OutputFlowDataSheet" classAssembly="SyncroSim.STSimStockFlow">
                <columns>
                  <column name="ScenarioID" dataType="Integer" isCompositeIndex="True"/>
                  <column name="Iteration" dataType="Integer" isCompositeIndex="True" format="d"/>
                  <column name="Timestep" dataType="Integer" isCompositeIndex="True" format="d"/>
                  <column name="FromStratumID" displayName="From Stratum" dataType="Integer" validationType="Datasheet" formula1="STSim_Stratum" allowDbNull="False" isCompositeIndex="True"/>
                  <column name="FromSecondaryStratumID" displayName="From Secondary Stratum" dataType="Integer" validationType="Datasheet" formula1="STSim_SecondaryStratum" allowDbNull="True" isCompositeIndex="True"/>
                  <column name="FromTertiaryStratumID" dataType="Integer" displayName="From Tertiary Stratum" validationType="Datasheet" formula1="STSim_TertiaryStratum" isOptional="True" displayNameSource="STSim_Terminology" displayNameColumn="TertiaryStratumLabel" isCompositeIndex="True"/>
                  <column name="FromStateClassID" dataType="Integer" displayName="From State Class" validationType="Datasheet" formula1="STSim_StateClass" allowDbNull="False" isCompositeIndex="True"/>
                  <column name="FromStockTypeID" dataType="Integer" displayName="From Stock Type" validationType="Datasheet" formula1="SF_StockType" allowDbNull="False" isCompositeIndex="True"/>
                  <column name="TransitionTypeID" dataType="Integer" displayName="From Transition Type" validationType="Datasheet" formula1="STSim_TransitionType" allowDbNull="True" isCompositeIndex="True"/>
                  <column name="ToStratumID" displayName="To Stratum" dataType="Integer" validationType="Datasheet" formula1="STSim_Stratum" allowDbNull="False" isCompositeIndex="True"/>
                  <column name="ToStateClassID" dataType="Integer" displayName="To State Class" validationType="Datasheet" formula1="STSim_StateClass" allowDbNull="False" isCompositeIndex="True"/>
                  <column name="ToStockTypeID" dataType="Integer" displayName="To Stock Type" validationType="Datasheet" formula1="SF_StockType" allowDbNull="False" isCompositeIndex="True"/>
                  <column name="FlowTypeID" dataType="Integer" validationType="Datasheet" formula1="SF_FlowType" isCompositeIndex="True"/>
                  <column name="Amount" dataType="Double"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="stsim-stockflow:output-spatial-stock-type-datafeed" displayName="Output Spatial Stock Type" dataScope="Scenario" isOutput="True" >
            <datasheets>
              <datasheet name="SF_OutputSpatialStockType" displayName="Spatial Stock Type">
                <columns>
                  <column name="ScenarioID" dataType="Integer" />
                  <column name="Iteration" dataType="Integer" format="d"/>
                  <column name="Timestep" dataType="Integer" displayNameSource="STSim_Terminology" displayNameColumn="TimestepUnits" format="d"/>
                  <column name="StockTypeID" dataType="Integer" displayName="Stock Type" validationType="Datasheet" formula1="SF_StockType" allowDbNull="False"/>
                  <column name="Filename" displayName="Stock Type Map" dataType="String" allowDbNull="False" isExternalFile="True" isRaster="True" bandColumn="Band" bandFilterColumn="StockTypeID" filenameCode="stk"/>
                  <column name="Band" displayName="Band" dataType="Integer" allowDbNull="True"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="stsim-stockflow:output-spatial-stock-group-datafeed" displayName="Output Spatial Stock Group" dataScope="Scenario" isOutput="True" >
            <datasheets>
              <datasheet name="SF_OutputSpatialStockGroup" displayName="Spatial Stock Group">
                <columns>
                  <column name="ScenarioID" dataType="Integer" />
                  <column name="Iteration" dataType="Integer" format="d"/>
                  <column name="Timestep" dataType="Integer" displayNameSource="STSim_Terminology" displayNameColumn="TimestepUnits" format="d"/>
                  <column name="StockGroupID" dataType="Integer" displayName="Stock Group" validationType="Datasheet" formula1="SF_StockGroup" allowDbNull="False"/>
                  <column name="Filename" displayName="Stock Group Map" dataType="String" allowDbNull="False" isExternalFile="True" isRaster="True" bandColumn="Band" bandFilterColumn="StockGroupID" filenameCode="stkg"/>
                  <column name="Band" displayName="Band" dataType="Integer" allowDbNull="True"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="stsim-stockflow:output-spatial-flow-type-datafeed" displayName="Output Spatial Flow Type" dataScope="Scenario" isOutput="True" >
            <datasheets>
              <datasheet name="SF_OutputSpatialFlowType" displayName="Spatial Flow Type">
                <columns>
                  <column name="ScenarioID" dataType="Integer" />
                  <column name="Iteration" dataType="Integer" format="d"/>
                  <column name="Timestep" dataType="Integer" displayNameSource="STSim_Terminology" displayNameColumn="TimestepUnits" format="d"/>
                  <column name="FlowTypeID" dataType="Integer" displayName="Flow Type" validationType="Datasheet" formula1="SF_FlowType" allowDbNull="False"/>
                  <column name="Filename" displayName="Flow Type Map" dataType="String" allowDbNull="False" isExternalFile="True" isRaster="True" bandColumn="Band" bandFilterColumn="FlowTypeID" filenameCode="flo"/>
                  <column name="Band" displayName="Band" dataType="Integer" allowDbNull="True"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="stsim-stockflow:output-spatial-flow-group-datafeed" displayName="Output Spatial Flow Group" dataScope="Scenario" isOutput="True" >
            <datasheets>
              <datasheet name="SF_OutputSpatialFlowGroup" displayName="Spatial Flow Group">
                <columns>
                  <column name="ScenarioID" dataType="Integer" />
                  <column name="Iteration" dataType="Integer" format="d"/>
                  <column name="Timestep" dataType="Integer" displayNameSource="STSim_Terminology" displayNameColumn="TimestepUnits" format="d"/>
                  <column name="FlowGroupID" dataType="Integer" displayName="Flow Group" validationType="Datasheet" formula1="SF_FlowGroup" allowDbNull="False"/>
                  <column name="Filename" displayName="Flow Group Map" dataType="String" allowDbNull="False" isExternalFile="True" isRaster="True" bandColumn="Band" bandFilterColumn="FlowGroupID" filenameCode="flog"/>
                  <column name="Band" displayName="Band" dataType="Integer" allowDbNull="True"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
        </datafeeds>
      </transformer>
      <transformer name="stsim-stockflow:summary-stock-report" displayName="Stocks" className="SyncroSim.STSimStockFlow.SummaryStockReport" classAssembly="SyncroSim.STSimStockFlow">
      </transformer>
      <transformer name="stsim-stockflow:summary-flow-report" displayName="Flows" className="SyncroSim.STSimStockFlow.SummaryFlowReport" classAssembly="SyncroSim.STSimStockFlow">
      </transformer>
      <transformer name="stsim-stockflow:stock-raster-map" displayName="Stocks" className="SyncroSim.StochasticTime.Forms.StochasticTimeExportTransformer" classAssembly="SyncroSim.StochasticTime.Forms" dataSheet="SF_OutputSpatialStockType" column="Filename" isFolderExport="True">
      </transformer>
      <transformer name="stsim-stockflow:flow-raster-map" displayName="Flows" className="SyncroSim.StochasticTime.Forms.StochasticTimeExportTransformer" classAssembly="SyncroSim.StochasticTime.Forms" dataSheet="SF_OutputSpatialFlowType" column="Filename" isFolderExport="True">
      </transformer>
      <transformer name="stsim-stockflow:stock-group-raster-map" displayName="Stock Groups" className="SyncroSim.StochasticTime.Forms.StochasticTimeExportTransformer" classAssembly="SyncroSim.StochasticTime.Forms" dataSheet="SF_OutputSpatialStockGroup" column="Filename" isFolderExport="True">
      </transformer>
      <transformer name="stsim-stockflow:flow-group-raster-map" displayName="Flow Groups" className="SyncroSim.StochasticTime.Forms.StochasticTimeExportTransformer" classAssembly="SyncroSim.StochasticTime.Forms" dataSheet="SF_OutputSpatialFlowGroup" column="Filename" isFolderExport="True">
      </transformer>
    </transformers>
    <visualizers>
      <visualizer name="stsim-stockflow:flow-order-datafeed-visualizer" target="stsim-stockflow:flow-order-datafeed" className="SyncroSim.STSimStockFlow.FlowOrderDataFeedView" classAssembly="SyncroSim.STSimStockFlow"/>
      <visualizer name="stsim-stockflow:flow-pathway-datafeed-visualizer" target="stsim-stockflow:flow-pathway-datafeed" className="SyncroSim.STSimStockFlow.FlowPathwayDataFeedView" classAssembly="SyncroSim.STSimStockFlow"/>
      <visualizer name="stsim-stockflow:initial-stocks-datafeed-visualizer" target="stsim-stockflow:initial-stocks-datafeed" className="SyncroSim.STSimStockFlow.InitialStocksDataFeedView" classAssembly="SyncroSim.STSimStockFlow"/>
      <visualizer name="stsim-stockflow:flow-spatial-multiplier-datafeed-visualizer" target="stsim-stockflow:flow-spatial-multiplier-datafeed" className="SyncroSim.STSimStockFlow.SpatialMultiplierDataFeedView" classAssembly="SyncroSim.STSimStockFlow"/>
      <visualizer name="stsim-stockflow:output-options-datafeed-visualizer" target="stsim-stockflow:output-options-datafeed" className="SyncroSim.STSimStockFlow.OutputOptionsDataFeedView" classAssembly="SyncroSim.STSimStockFlow"/>
    </visualizers>
    <layouts>   
      <layout 
        name="system-forms:result-transformers" 
        providerClassName="SyncroSim.STSimStockFlow.ResultLayoutProvider" 
        providerClassAssembly="SyncroSim.STSimStockFlow">
      </layout>
      <layout name ="system-forms:project-datafeeds" appendTo="Advanced">
        <group name="Stocks and Flows">
          <item name="stsim-stockflow:stock-group-datafeed"/>
          <item name="stsim-stockflow:stock-type-datafeed"/>
          <item name="stsim-stockflow:flow-group-datafeed"/>
          <item name="stsim-stockflow:flow-type-datafeed"/>
          <item name="stsim-stockflow:terminology-datafeed"/>
        </group>
      </layout>
      <layout name="system-forms:scenario-datafeeds" appendTo="Advanced">
        <group name="Stocks and Flows">
          <item name="stsim-stockflow:flow-pathway-datafeed"/>
          <item name="stsim-stockflow:initial-stocks-datafeed"/>
          <item name="stsim-stockflow:output-options-datafeed"/>
          <group name="Advanced">
            <item name="stsim-stockflow:flow-group-membership-datafeed"/>
            <item name="stsim-stockflow:flow-multiplier-datafeed"/>
            <item name="stsim-stockflow:flow-spatial-multiplier-datafeed"/>
            <item name="stsim-stockflow:flow-order-datafeed"/>
            <item name="stsim-stockflow:stock-group-membership-datafeed"/>
            <item name="stsim-stockflow:stock-limit-datafeed"/>
            <item name="stsim-stockflow:stock-transition-multiplier-datafeed"/>            
          </group>
        </group>
      </layout>
      <layout 
        name="stime:charts" 
        providerClassName="SyncroSim.STSimStockFlow.SFChartProvider" 
        providerClassAssembly="SyncroSim.STSimStockFlow">
      </layout>
      <layout name="stime:maps">
        <item name="stk" displayName="Stock Types" dataSheet="SF_OutputSpatialStockType" column="Filename" filter="StockTypeID"></item>
        <item name="flo" displayName="Flow Types" dataSheet="SF_OutputSpatialFlowType" column="Filename" filter="FlowTypeID"></item>       
        <item name="stkg" displayName="Stock Groups" dataSheet="SF_OutputSpatialStockGroup" column="Filename" filter="StockGroupID"></item>
        <item name="flog" displayName="Flow Groups" dataSheet="SF_OutputSpatialFlowGroup" column="Filename" filter="FlowGroupID"></item>                
      </layout>
    </layouts>
    <updateProvider 
      schemaVersionTableName="SF_Version" 
      schemaVersion="18" minimumModuleVersion="3.1.29" 
      className="SyncroSim.STSimStockFlow.SFUpdates" 
      classAssembly="SyncroSim.STSimStockFlow"/>
    <console 
      name="stsim-stockflow" 
      displayName="ST-Sim Stocks and Flows Console" 
      className="SyncroSim.STSimStockFlow.SFConsole" 
      classAssembly="SyncroSim.STSimStockFlow"/>
  </module>
</configuration>
